.mapbox-marker {
  --at-apply: w-2.5 h-2.5 rounded-full border border-white cursor-pointer
    shadow-md;
}

.mapbox-marker--travel {
  background: #f97316;
  box-shadow: 0 0 0 4px #f973162e, 0 1px 3px #00000040;
}

.mapbox-marker--travel:hover {
  box-shadow: 0 0 0 5px #f973163d, 0 2px 6px #00000047;
}

.mapbox-marker--residence {
  background: #2563eb;
  box-shadow: 0 0 0 4px #2563eb2e, 0 1px 3px #00000040;
}

.mapbox-marker--residence:hover {
  box-shadow: 0 0 0 5px #2563eb3d, 0 2px 6px #00000047;
}

.mapboxgl-popup-tip {
  --at-apply: hidden;
}

.mapboxgl-popup-content {
  --at-apply: px-1.5 py-1 shadow-lg dark-bg-#1f2937 dark-text-#f9fafb;
}

/* 
<div class="mapboxgl-popup mapboxgl-popup-anchor-bottom" style="max-width: 240px; transform: translate(-50%, -100%) translate(787px, 379px);"><div class="mapboxgl-popup-tip"></div><div class="mapboxgl-popup-content">2023.08 杭州良渚</div></div>
 */

.mapbox-legend {
  --at-apply: absolute right-6 bottom-6 flex gap-3 items-center px-3 py-2
    rounded-full bg-white/20 backdrop-blur-md shadow-lg text-#111827
    dark-text-#f9fafb text-sm;
}

.mapbox-legend__item {
  --at-apply: flex items-center gap-1.4 whitespace-nowrap;
}

.mapbox-legend__dot {
  --at-apply: w-2.5 h-2.5 rounded-full border-2 border-white;
  box-shadow: 0 0 0 2px #11182714;
}

.mapbox-legend__dot--travel {
  background: #f97316;
}

.mapbox-legend__dot--residence {
  background: #2563eb;
}

.mapboxgl-ctrl-logo {
  --at-apply: 'hidden!';
}
